@use "src/common/ui/style/main" as *;

.questionSection {
  max-width: 608px;
  width: 100%;

  margin: 0 auto;

  &__title {
    text-align: center;
  }
}

.questionSection__content {
  @include flexColumn(center, center, 2);
}

.buttonList {
  @include flexColumn(center, center, 2);

  max-width: 608px;
  width: 100%;
}
