@use "main" as *;

:root {
  --main-color: #3C5468;

  --white-color: #F2F5F8;

  --dark-color: #0F151A;
  --dark-medium-color: rgba(15, 21, 26, 0.5);
  --dark-light-color: rgba(15, 21, 26, 0.35);

  --border-color: rgba(15, 21, 26, .15);
}

* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;

  background-color: transparent;

  font-family: var(--font-inter), sans-serif;
  color: var(--dark-color);
  text-decoration: none;

  box-sizing: border-box;
}

html {
  scroll-padding-top: 72px;
}

body {
  position: relative;

  background-color: var(--white-color);
}