@use "src/common/ui/style/main" as *;

.ctaButton {
  @include flexColumn(center, center);

  width: 100%;
  max-width: 608px;
  min-height: 64px;
  padding: .5rem 0;

  background: var(--secondary-color);

  @include transition;
  cursor: pointer;

  &:hover {
    background: var(--secondary-color-hover);
  }

  @include md {
    min-height: 48px;
  }

  &__text {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;

    @include md {
      font-size: 1.15rem;
    }
  }
}
