@use "src/common/ui/style/main" as *;

.ctaButton {
  @include flexRow(center, center, 1);

  width: 100%;
  height: 64px;

  background-color: var(--secondary-color);

  &__title {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--white-color);

    @include md {
      font-size: 1.25rem;
    }
  }
}
