@use "src/common/ui/style/main" as *;

.meetSection {
  @include flexColumn(center, flex-start, 2);
}

.meetImage {
  width: 100%;
  height: 372px;

  object-fit: cover;
}

.meetContinue {
  @include flexColumn(center, flex-start, .5);

  &__text {
    font-size: .75rem;
    color: var(--dark-light-color);
  }
}