@use "src/common/ui/style/main" as *;

.quoteSection {
  &__wrapper {
    @include flexRow();

    padding-left: 1rem;

    border-left: 2px solid var(--dark-color);
  }

  &__text {
    font-style: italic;
  }
}
