@use "src/common/ui/style/main" as *;

.quoteWrapper {
  width: 100%;
}

.quoteSection {
  width: 100%;

  &__wrapper {
    @include flexRow();

    padding-left: 1rem;

    border-left: 2px solid var(--dark-color);
  }

  &__text {
    font-size: 1.2rem;
    font-style: italic;
  }
}
