@use "src/common/ui/style/main" as *;

.review {
  @include flexColumn(flex-start, flex-start, 1);

  width: 100%;

  &__text {
    font-size: 1rem;
  }

  &__list {
    @include flexRow(flex-start, flex-start, 1, wrap);

    width: 100%;

    @include md {
      @include flexColumn(flex-start, flex-start, .25);
    }
  }

  &__image {
    object-fit: contain;

    @include md {
      width: 100%;
      height: auto;
    }
  }
}

.reviewHeader {
  @include flexRow(center, space-between, 1);

  width: 100%;

  &__initials {
    @include flexRow(center, center, 1);

    @include md {
      gap: .5rem;
    }
  }

  &__avatar {
    width: 48px;
    height: 48px;

    border-radius: 99rem;

    @include md {
      width: 36px;
      height: 36px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1.35rem;

    @include md {
      font-size: 1.15rem;
    }
  }

  &__time {
    font-size: .875rem;

    opacity: .35;
  }
}
